In [76]:
import pandas as pd
import json

In [89]:
with open('t20_json_files/t20_wc_bowling_summary.json') as f:
 data=json.load(f)
data
len(data)

45

In [90]:
data[5]

{'bowlingSummary': [{'match': 'Sri Lanka Vs U.A.E.',
   'bowlingTeam': 'U.A.E.',
   'bowlerName': 'Junaid Siddique',
   'overs': '4',
   'maiden': '0',
   'runs': '36',
   'wickets': '0',
   'economy': '9.00',
   '0s': '8',
   '4s': '2',
   '6s': '1',
   'wides': '2',
   'noBalls': '0'},
  {'match': 'Sri Lanka Vs U.A.E.',
   'bowlingTeam': 'U.A.E.',
   'bowlerName': 'Kashif Daud',
   'overs': '1',
   'maiden': '0',
   'runs': '14',
   'wickets': '0',
   'economy': '14.00',
   '0s': '0',
   '4s': '2',
   '6s': '0',
   'wides': '0',
   'noBalls': '0'},
  {'match': 'Sri Lanka Vs U.A.E.',
   'bowlingTeam': 'U.A.E.',
   'bowlerName': 'Zahoor Khan',
   'overs': '4',
   'maiden': '0',
   'runs': '26',
   'wickets': '2',
   'economy': '6.50',
   '0s': '10',
   '4s': '3',
   '6s': '0',
   'wides': '0',
   'noBalls': '0'},
  {'match': 'Sri Lanka Vs U.A.E.',
   'bowlingTeam': 'U.A.E.',
   'bowlerName': 'Aayan Afzal Khan',
   'overs': '3',
   'maiden': '0',
   'runs': '16',
   'wickets': '1',
   'economy': '5.33',
   '0s': '7',
   '4s': '1',
   '6s': '0',
   'wides': '0',
   'noBalls': '0'},
  {'match': 'Sri Lanka Vs U.A.E.',
   'bowlingTeam': 'U.A.E.',
   'bowlerName': 'Aryan Lakra',
   'overs': '3',
   'maiden': '0',
   'runs': '24',
   'wickets': '1',
   'economy': '8.00',
   '0s': '5',
   '4s': '3',
   '6s': '0',
   'wides': '0',
   'noBalls': '0'},
  {'match': 'Sri Lanka Vs U.A.E.',
   'bowlingTeam': 'U.A.E.',
   'bowlerName': 'Karthik Meiyappan',
   'overs': '4',
   'maiden': '0',
   'runs': '19',
   'wickets': '3',
   'economy': '4.75',
   '0s': '12',
   '4s': '0',
   '6s': '1',
   'wides': '0',
   'noBalls': '0'},
  {'match': 'Sri Lanka Vs U.A.E.',
   'bowlingTeam': 'U.A.E.',
   'bowlerName': 'Basil Hameed',
   'overs': '1',
   'maiden': '0',
   'runs': '13',
   'wickets': '0',
   'economy': '13.00',
   '0s': '1',
   '4s': '1',
   '6s': '1',
   'wides': '0',
   'noBalls': '0'},
  {'match': 'Sri Lanka Vs U.A.E.',
   'bowlingTeam': 'Sri Lanka',
   'bowlerName': 'Pramod Madushan',
   'overs': '3',
   'maiden': '0',
   'runs': '14',
   'wickets': '1',
   'economy': '4.66',
   '0s': '12',
   '4s': '2',
   '6s': '0',
   'wides': '1',
   'noBalls': '0'},
  {'match': 'Sri Lanka Vs U.A.E.',
   'bowlingTeam': 'Sri Lanka',
   'bowlerName': 'Maheesh Theekshana',
   'overs': '3.1',
   'maiden': '0',
   'runs': '15',
   'wickets': '2',
   'economy': '4.73',
   '0s': '10',
   '4s': '2',
   '6s': '0',
   'wides': '0',
   'noBalls': '0'},
  {'match': 'Sri Lanka Vs U.A.E.',
   'bowlingTeam': 'Sri Lanka',
   'bowlerName': 'Dushmantha Chameera',
   'overs': '3.5',
   'maiden': '0',
   'runs': '15',
   'wickets': '3',
   'economy': '3.91',
   '0s': '16',
   '4s': '0',
   '6s': '1',
   'wides': '0',
   'noBalls': '0'},
  {'match': 'Sri Lanka Vs U.A.E.',
   'bowlingTeam': 'Sri Lanka',
   'bowlerName': 'Chamika Karunaratne',
   'overs': '2',
   'maiden': '0',
   'runs': '14',
   'wickets': '0',
   'economy': '7.00',
   '0s': '5',
   '4s': '2',
   '6s': '0',
   'wides': '0',
   'noBalls': '0'},
  {'match': 'Sri Lanka Vs U.A.E.',
   'bowlingTeam': 'Sri Lanka',
   'bowlerName': 'Wanindu Hasaranga de Silva',
   'overs': '4',
   'maiden': '1',
   'runs': '8',
   'wickets': '3',
   'economy': '2.00',
   '0s': '17',
   '4s': '0',
   '6s': '0',
   'wides': '0',
   'noBalls': '0'},
  {'match': 'Sri Lanka Vs U.A.E.',
   'bowlingTeam': 'Sri Lanka',
   'bowlerName': 'Dasun Shanaka',
   'overs': '1.1',
   'maiden': '0',
   'runs': '7',
   'wickets': '1',
   'economy': '6.00',
   '0s': '3',
   '4s': '0',
   '6s': '0',
   'wides': '1',
   'noBalls': '0'}]}

In [91]:
all_bowling=[]
for i in data:
    all_bowling.extend(i["bowlingSummary"])
bowling_summary=pd.DataFrame(all_bowling)

In [96]:
bowling_summary.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0

In [92]:
with open('t20_json_files/t20_wc_match_results.json') as p:
    data=json.load(p)
len(data)

1

In [93]:
df_matchSummary=pd.DataFrame(data[0]['matchSummary'])
df_matchSummary.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [98]:
df_matchSummary.rename({'scorecard':'match_id'}, axis=1, inplace=True)
df_matchSummary.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [102]:
dict_teamvs={}
for index,row in df_matchSummary.iterrows():
    key1=row['team1'] +" Vs "+row['team2']
    key2=row['team2'] +" Vs "+row['team1']
    dict_teamvs[key1]=row['match_id']
    dict_teamvs[key2]=row['match_id']
dict_teamvs

{'Namibia Vs Sri Lanka': 'T20I # 1823',
 'Sri Lanka Vs Namibia': 'T20I # 1823',
 'Netherlands Vs U.A.E.': 'T20I # 1825',
 'U.A.E. Vs Netherlands': 'T20I # 1825',
 'Scotland Vs West Indies': 'T20I # 1826',
 'West Indies Vs Scotland': 'T20I # 1826',
 'Ireland Vs Zimbabwe': 'T20I # 1828',
 'Zimbabwe Vs Ireland': 'T20I # 1828',
 'Namibia Vs Netherlands': 'T20I # 1830',
 'Netherlands Vs Namibia': 'T20I # 1830',
 'Sri Lanka Vs U.A.E.': 'T20I # 1832',
 'U.A.E. Vs Sri Lanka': 'T20I # 1832',
 'Ireland Vs Scotland': 'T20I # 1833',
 'Scotland Vs Ireland': 'T20I # 1833',
 'West Indies Vs Zimbabwe': 'T20I # 1834',
 'Zimbabwe Vs West Indies': 'T20I # 1834',
 'Netherlands Vs Sri Lanka': 'T20I # 1835',
 'Sri Lanka Vs Netherlands': 'T20I # 1835',
 'Namibia Vs U.A.E.': 'T20I # 1836',
 'U.A.E. Vs Namibia': 'T20I # 1836',
 'Ireland Vs West Indies': 'T20I # 1837',
 'West Indies Vs Ireland': 'T20I # 1837',
 'Scotland Vs Zimbabwe': 'T20I # 1838',
 'Zimbabwe Vs Scotland': 'T20I # 1838',
 'Australia Vs New Zealand': 'T20I # 1839',
 'New Zealand Vs Australia': 'T20I # 1839',
 'Afghanistan Vs England': 'T20I # 1840',
 'England Vs Afghanistan': 'T20I # 1840',
 'Ireland Vs Sri Lanka': 'T20I # 1841',
 'Sri Lanka Vs Ireland': 'T20I # 1841',
 'India Vs Pakistan': 'T20I # 1842',
 'Pakistan Vs India': 'T20I # 1842',
 'Bangladesh Vs Netherlands': 'T20I # 1843',
 'Netherlands Vs Bangladesh': 'T20I # 1843',
 'South Africa Vs Zimbabwe': 'T20I # 1844',
 'Zimbabwe Vs South Africa': 'T20I # 1844',
 'Australia Vs Sri Lanka': 'T20I # 1845',
 'Sri Lanka Vs Australia': 'T20I # 1845',
 'England Vs Ireland': 'T20I # 1846',
 'Ireland Vs England': 'T20I # 1846',
 'Afghanistan Vs New Zealand': 'T20I # 1846a',
 'New Zealand Vs Afghanistan': 'T20I # 1846a',
 'Bangladesh Vs South Africa': 'T20I # 1847',
 'South Africa Vs Bangladesh': 'T20I # 1847',
 'India Vs Netherlands': 'T20I # 1848',
 'Netherlands Vs India': 'T20I # 1848',
 'Pakistan Vs Zimbabwe': 'T20I # 1849',
 'Zimbabwe Vs Pakistan': 'T20I # 1849',
 'Afghanistan Vs Ireland': 'T20I # 1849a',
 'Ireland Vs Afghanistan': 'T20I # 1849a',
 'Australia Vs England': 'T20I # 1849b',
 'England Vs Australia': 'T20I # 1849b',
 'New Zealand Vs Sri Lanka': 'T20I # 1850',
 'Sri Lanka Vs New Zealand': 'T20I # 1850',
 'Bangladesh Vs Zimbabwe': 'T20I # 1851',
 'Zimbabwe Vs Bangladesh': 'T20I # 1851',
 'Netherlands Vs Pakistan': 'T20I # 1852',
 'Pakistan Vs Netherlands': 'T20I # 1852',
 'India Vs South Africa': 'T20I # 1853',
 'South Africa Vs India': 'T20I # 1853',
 'Australia Vs Ireland': 'T20I # 1855',
 'Ireland Vs Australia': 'T20I # 1855',
 'Afghanistan Vs Sri Lanka': 'T20I # 1856',
 'Sri Lanka Vs Afghanistan': 'T20I # 1856',
 'England Vs New Zealand': 'T20I # 1858',
 'New Zealand Vs England': 'T20I # 1858',
 'Netherlands Vs Zimbabwe': 'T20I # 1859',
 'Zimbabwe Vs Netherlands': 'T20I # 1859',
 'Bangladesh Vs India': 'T20I # 1860',
 'India Vs Bangladesh': 'T20I # 1860',
 'Pakistan Vs South Africa': 'T20I # 1861',
 'South Africa Vs Pakistan': 'T20I # 1861',
 'Ireland Vs New Zealand': 'T20I # 1862',
 'New Zealand Vs Ireland': 'T20I # 1862',
 'Australia Vs Afghanistan': 'T20I # 1864',
 'Afghanistan Vs Australia': 'T20I # 1864',
 'England Vs Sri Lanka': 'T20I # 1867',
 'Sri Lanka Vs England': 'T20I # 1867',
 'Netherlands Vs South Africa': 'T20I # 1871',
 'South Africa Vs Netherlands': 'T20I # 1871',
 'Bangladesh Vs Pakistan': 'T20I # 1872',
 'Pakistan Vs Bangladesh': 'T20I # 1872',
 'India Vs Zimbabwe': 'T20I # 1873',
 'Zimbabwe Vs India': 'T20I # 1873',
 'New Zealand Vs Pakistan': 'T20I # 1877',
 'Pakistan Vs New Zealand': 'T20I # 1877',
 'England Vs India': 'T20I # 1878',
 'India Vs England': 'T20I # 1878',
 'England Vs Pakistan': 'T20I # 1879',
 'Pakistan Vs England': 'T20I # 1879'}

In [104]:
df_matchSummary.tail()

,team1,team2,winner,margin,ground,matchDate,match_id
40,Bangladesh,Pakistan,Pakistan,5 wickets,Adelaide,"Nov 6, 2022",T20I # 1872
41,India,Zimbabwe,India,71 runs,Melbourne,"Nov 6, 2022",T20I # 1873
42,New Zealand,Pakistan,Pakistan,7 wickets,Sydney,"Nov 9, 2022",T20I # 1877
43,England,India,England,10 wickets,Adelaide,"Nov 10, 2022",T20I # 1878
44,England,Pakistan,England,5 wickets,Melbourne,"Nov 13, 2022",T20I # 1879

In [105]:
bowling_summary.head(1)

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0

In [107]:
bowling_summary["match_id"]=bowling_summary["match"].map(dict_teamvs)
bowling_summary

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0,T20I # 1823
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0,T20I # 1823
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0,T20I # 1823
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0,T20I # 1823
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0,T20I # 1823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Pakistan Vs England,Pakistan,Naseem Shah,4,0,30,0,7.50,15,3,1,1,0,T20I # 1879
496,Pakistan Vs England,Pakistan,Haris Rauf,4,0,23,2,5.75,13,3,0,1,0,T20I # 1879
497,Pakistan Vs England,Pakistan,Shadab Khan,4,0,20,1,5.00,10,1,0,0,0,T20I # 1879
498,Pakistan Vs England,Pakistan,Mohammad Wasim,4,0,38,1,9.50,5,5,0,2,0,T20I # 1879
499,Pakistan Vs England,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0,T20I # 1879

In [109]:
bowling_summary.to_csv('t20_json_files/bowling_summary.csv', index=False)